/* .black-bg {
  background-color: black;
  transition: none;
}

.black-bg:hover {
  transition: none;
} */

.container {
  margin-top: 30px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  transition: all .5s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-title{
  color: #F90101;
}

.modal-body {
  text-align: center;
  font-size: 0.7rem;
}