html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.cabecalho {
    height: 20%;
}

.menu {
    height: 100%;
    background-color: #0B0B0B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
}

.menu ul li a {
    color: whitesmoke;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #F90101;
    text-decoration: none;
}

#menu-wrapper {
    height: 100%;
    font-weight: bold;
    width: 100%;
    position: relative;
}

img:hover {
    cursor: pointer; 
}

.rodape {
    background-color: #0B0B0B;
}

.container {
    margin-top: 30px;
}

.card {
    padding: 2.5% 0;
    margin-bottom: 5%;
    margin-top: 5%;
}

.rodape .rodape-wrapper {
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logo img {
    position: absolute;
    height: 5em;
    width: auto;
}

.img-rodape img {
    height: 5em;
    width: auto;
}

.small {
    color: whitesmoke;
    display: grid;
}

ul li {
    font-weight: bold;
    list-style-type: none;
}

.menu-footer ul li a:hover {
    text-decoration: none;
    color: #F90101;
}

.menu-footer ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.card-body img {
    transition: transform .6s;
}

.card-body img:hover {
    transform: scale(1.1);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    transition: all .5s;
  }

h2,
p {
    text-align: center;
}

@media (min-width: 798px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.2rem;
    }
}