html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
}

h2,
p {
    text-align: center;
}

h2 {
    padding-bottom: 3%;
}

.menu {
    height: 100%;
    background-color: #0B0B0B;
}

.menu ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.menu ul li a {
    color: whitesmoke;
    text-decoration: none;
}

.menu ul li a:hover {
    color: #F90101;
    text-decoration: none;
}

#menu-wrapper {
    font-weight: bold;
    height: 6%;
    width: 100%;
    position: absolute;
}

.row {
    align-items: center;
}

.row img {
    width: 100%;
    height: 20vw;
    margin-bottom: 10%;
}

.card {
    padding: 2%;
    margin-bottom: 2%;
}

h4,
p {
    text-align: center;
}

.img-rodape img {
    height: 5em;
    width: auto;
}

.small {
    color: whitesmoke;
    display: grid;
}

ul li {
    font-weight: bold;
    list-style-type: none;
}

.rodape {
    background-color: #0B0B0B;
}

.rodape .rodape-wrapper {
    padding: 2% 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu-footer ul li a:hover {
    text-decoration: none;
    color: #F90101;
}

.menu-footer ul li a {
    text-decoration: none;
    color: whitesmoke;
}

@media (min-width: 798px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1.2rem;
    }
}