html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
}

.menu {
    height: 100%;
}

.menu:hover {
    background-color: #0B0B0B;
    opacity: 0.9;
    transition: 0.5s;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin-bottom: 0%;
}

.menu ul li a {
    text-decoration: none;
}

#menu-wrapper {
    height: 10%;
    width: 100%;
    position: absolute;
}

@media (min-width: 798px){
    html {
        font-size: 0.8rem;
    }
}
  
@media (min-width: 992px) {
    html {
      font-size: 1rem;
    }
}
  
@media (min-width: 1200px) {
    html {
      font-size: 1.2rem;
    }
}